<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div align="center">
    <h1>show users</h1>
    <a href="/login">login</a>
    <!-- userInfo-->
    欢迎你:<label th:text="${userInfo.username}"></label>
    <br/>
    <!--循环打印角色信息-->
    <table class="table" style="width:80%">
        <thead>
        <tr>
            <th>ID</th>
            <th>角色名称</th>
            <th>描述</th>
        </tr>
        </thead>
        <tr th:each="sysRoleList:${sysRoleList}" class="success">
            <td th:text="${sysRoleList.id}"/>
            <td th:text="${sysRoleList.role}"/>
            <td th:text="${sysRoleList.description}"/>
        </tr>
    </table>
</div>
</body>
</html>