<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="data:;base64,=">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../layui/layui.js"></script>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<div align="center">
    <h1>welcome</h1>
    <label>用户名称:</label>
    <label th:text="${userInfo.username}"></label> &nbsp;&nbsp;&nbsp;<a href="/login">back</a>
    <br>
    <br>
    <div align="center">
        <!-- 表示一个成功的或积极的动作 -->
        <button type="button" class="btn btn-success" id="userBtn">
            用户管理
        </button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-success" id="roleBtn">
            角色管理
        </button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-success" id="permissionBtn">
            权限管理
        </button>
    </div>
    <!--请求URL-->
</div>
<script>
layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;

        layer.msg('Hello LayUI');
    });
$(function() {
     $("#userBtn").click(function(){
         window.location.href="/userList";
     });

    $("#roleBtn").click(function(){
        window.location.href="/roleList";
     });

    $("#permissionBtn").click(function(){
         window.location.href="/permissionList";
    });
});

</script>

</body>
</html>